/.editorconfig           export-ignore
/.gitattributes          export-ignore
/.github                 export-ignore
/.gitignore              export-ignore
/art                     export-ignore
/phpstan.neon.dist       export-ignore
/phpunit.xml.dist        export-ignore
/pint.json               export-ignore
/tests                   export-ignore
/UPGRADING.md            export-ignore
