includes:
    - ./vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - src

    level: max

    ignoreErrors:
        - identifier: missingType.generics
        - identifier: missingType.iterableValue
        - '#Cannot access offset .* on Illuminate\\Contracts\\Foundation\\Application#'
        - '#Parameter \#.* of class Masmerise\\Toaster\\ToasterConfig constructor expects .*, mixed given.#'
